<%= form_for @question  do |f| %>
  <%= f.label :subject_line %><br>

  <%= f.text_field :subject_line %><br><br>
  
  <%= f.label :tag_list, "Tags(Separated by commas)" %><br>
  <%= f.text_field :tag_list %><br><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br><br>
  <%= f.submit %>
<% end %>


     <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
<section id="contact">
      <div class="section-content">
        <h1 class="section-header" style="margin-left: 300px; font-size: 28px;"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Ask your Question...</span></h1>
       
      </div>
      <div class="contact-section">
      <div class="container">
        <form>
          <div class="col-md-4">
        <img src="https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/Pencil3.png" class="img-responsive center-block" alt="">
    </div>
    <div class="col-md-8" form-line">
              <div class="form-group">
                <label for="exampleInputUsername">Subject Line</label>
                <input type="text" class="form-control" id="" placeholder="Question Title...">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail">Tag List</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Eg: Battery, Screen, ...">
              </div>  
          
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for ="description"> Description</label>
                <textarea  class="form-control" id="description" placeholder="Details..."></textarea>
              </div>
              <div>

                <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Create Question </button>
              </div>
              
          </div>
        </form>
      </div>
    </section>