<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Delete", question_path, method: :delete%>
<%= render @question %>
<h4 id="questions">This question has got <%= @question.answers.count %> Answers</h4>
<%= render @question.answers %>
<%=  render '/answers/form' %>